{{> header}}

<div>
    <div class="jumbotron jumbotron-fluid" style="background-color: #b3ffe6;">
        <div class="container">
            <h1 class="display-4">¿Qué es Express.js?</h1>
            <img src="https://quish.tv/img/blog/81/what-are-reasons-learn-express.png" class="img-fluid"
                alt="Responsive image">
        </div>
    </div>
    <p class="text-justify">Express.js es un marco de trabajo de aplicación web Node.js mínimo, flexible y de código
        abierto. Puede usarlo sobre Node.js para garantizar una mejor funcionalidad web. Express es el marco web más
        popular de Node.js.</p>

    <p class="text-justify">Proporciona un amplio conjunto de funciones para crear aplicaciones web (de una sola página,
        de varias páginas e híbridas). Con Express, puede estructurar una aplicación web que pueda manejar múltiples
        solicitudes HTTP en una determinada URL. La flexibilidad es visible en numerosos componentes accesibles en un
        administrador de paquetes. Estos componentes perseveran automáticamente en Express.js.</p>
</div>